@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "TrajanProRegular";
  src: url("../fonts/TrajanProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
p {
  margin: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }
  .wrapper header .first-row {
    font-family: "ProximaNovaRegular", serif;
    position: relative;
    color: #ababab;
    margin-top: 15px; }
    .wrapper header .first-row .left-block {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px; }
      .wrapper header .first-row .left-block span:first-of-type {
        font-size: 14px;
        color: black;
        padding-right: 18px; }
    .wrapper header .first-row .center-block {
      margin: 0 auto;
      text-align: center;
      line-height: 16px;
      font-size: 10px;
      text-transform: uppercase; }
      .wrapper header .first-row .center-block ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .wrapper header .first-row .center-block ul li {
          display: inline-block;
          margin: 0 15px; }
          .wrapper header .first-row .center-block ul li a {
            text-decoration: none;
            color: #ababab; }
    .wrapper header .first-row .right-block {
      position: absolute;
      top: 0;
      right: 0; }
      .wrapper header .first-row .right-block .sign-in-block,
      .wrapper header .first-row .right-block .cart-block {
        display: inline-block;
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase; }
      .wrapper header .first-row .right-block .sign-in-block {
        padding-right: 22px;
        margin-right: 16px; }
      .wrapper header .first-row .right-block .cart-block {
        position: relative; }
        .wrapper header .first-row .right-block .cart-block img {
          position: absolute;
          right: 12px;
          top: 0; }
        .wrapper header .first-row .right-block .cart-block span {
          font-size: 12px;
          padding-left: 6px;
          color: black; }
  .wrapper header .second-row {
    text-align: center;
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #f2f2f2; }
  .wrapper header .third-row {
    text-align: center;
    padding: 20px 0; }
    .wrapper header .third-row ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .wrapper header .third-row ul li {
        display: inline-block;
        margin: 0 25px; }
        .wrapper header .third-row ul li a {
          font-family: "ProximaNovaBold", serif;
          color: black;
          font-size: 13px;
          text-decoration: none;
          text-transform: uppercase; }
  .wrapper main .slider-block {
    position: relative; }
    .wrapper main .slider-block .slider {
      height: 516px; }
      .wrapper main .slider-block .slider .image-block {
        position: relative;
        height: 516px; }
        .wrapper main .slider-block .slider .image-block img {
          position: absolute;
          top: -185px;
          left: 0; }
    .wrapper main .slider-block .text-block {
      position: absolute;
      top: 110px;
      left: 105px; }
      .wrapper main .slider-block .text-block .product-title {
        font-size: 72px;
        font-family: "TrajanProRegular", serif;
        color: #1e1e1e; }
      .wrapper main .slider-block .text-block .line {
        display: block;
        width: 43px;
        height: 1px;
        background-color: #1e1e1e;
        margin: 20px 0  34px 0; }
      .wrapper main .slider-block .text-block .product-text span {
        display: block;
        font-size: 18px;
        font-family: "ProximaNovaRegular", serif; }
        .wrapper main .slider-block .text-block .product-text span:first-of-type {
          padding-bottom: 4px; }
  .wrapper main .divisions-row {
    font-size: 0; }
    .wrapper main .divisions-row .popular-brands,
    .wrapper main .divisions-row .hair-care,
    .wrapper main .divisions-row .men-goods {
      font-family: "ProximaNovaBold", serif;
      font-size: 18px;
      display: inline-block;
      height: 194px;
      width: calc(100% / 3);
      box-sizing: border-box;
      vertical-align: top; }
    .wrapper main .divisions-row .popular-brands {
      position: relative;
      padding: 30px 40px;
      color: #c59a77; }
      .wrapper main .divisions-row .popular-brands p {
        margin: 0;
        width: 130px;
        line-height: 24px; }
      .wrapper main .divisions-row .popular-brands .arrow-btn {
        position: absolute;
        left: 40px;
        bottom: 30px;
        width: 40px;
        height: 40px;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 20px;
        line-height: 40px;
        border: 1px solid #433830;
        color: black;
        background-color: #1f1f1f; }
        .wrapper main .divisions-row .popular-brands .arrow-btn i {
          margin-left: 12px; }
    .wrapper main .divisions-row .hair-care {
      position: relative;
      padding: 30px 40px;
      color: #1e1e1e; }
      .wrapper main .divisions-row .hair-care p {
        margin: 0;
        width: 130px;
        line-height: 24px; }
      .wrapper main .divisions-row .hair-care .arrow-btn {
        position: absolute;
        left: 40px;
        bottom: 30px;
        width: 40px;
        height: 40px;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 20px;
        line-height: 40px;
        color: white;
        background-color: #1e1e1e; }
        .wrapper main .divisions-row .hair-care .arrow-btn i {
          margin-left: 12px; }
    .wrapper main .divisions-row .men-goods {
      position: relative;
      padding: 30px 40px;
      color: white; }
      .wrapper main .divisions-row .men-goods p {
        margin: 0;
        width: 130px;
        line-height: 24px; }
      .wrapper main .divisions-row .men-goods .arrow-btn {
        position: absolute;
        left: 40px;
        bottom: 30px;
        width: 40px;
        height: 40px;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 20px;
        line-height: 40px;
        color: #b58c6b;
        background-color: white; }
        .wrapper main .divisions-row .men-goods .arrow-btn i {
          margin-left: 12px; }
      .wrapper main .divisions-row .men-goods img {
        position: absolute;
        bottom: 20px;
        right: 0; }
    .wrapper main .divisions-row .background-popular {
      background-image: url("../img/popular.jpg"); }
    .wrapper main .divisions-row .background-hair {
      background-image: url("../img/hair.jpg"); }
    .wrapper main .divisions-row .background-men {
      background-image: url("../img/men.jpg"); }
  .wrapper main .product-list {
    font-size: 0; }
    .wrapper main .product-list .item {
      display: inline-block;
      width: 33.33%;
      height: 300px;
      font-size: 12px;
      box-sizing: border-box;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      padding: 27px 40px; }
      .wrapper main .product-list .item .title {
        font-family: "ProximaNovaBold", serif;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        max-width: 135px;
        margin-bottom: 18px; }
      .wrapper main .product-list .item .description {
        font-family: "ProximaNovaRegular", serif;
        font-size: 12px;
        line-height: 16px;
        color: #7f7f7f; }
      .wrapper main .product-list .item .price {
        position: absolute;
        bottom: 30px;
        left: 40px;
        font-family: "ProximaNovaRegular", serif;
        font-size: 18px;
        line-height: 14px;
        color: #7f7f7f;
        text-transform: uppercase; }
      .wrapper main .product-list .item img {
        position: absolute;
        bottom: 70px;
        right: 60px; }
      .wrapper main .product-list .item.with-border {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5; }
  .wrapper footer {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: #8e8e8e;
    font-family: "ProximaNovaRegular", serif;
    font-size: 12px;
    padding: 30px 35px; }
    .wrapper footer .footer-column span {
      display: block;
      font-family: "ProximaNovaBold", serif;
      font-size: 18px;
      text-transform: uppercase;
      color: white; }
    .wrapper footer .footer-column ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .wrapper footer .footer-column ul li {
        margin: 18px 0; }
    .wrapper footer .footer-column p {
      max-width: 150px;
      line-height: 24px; }
    .wrapper footer .footer-column img {
      margin: 20px 0; }
    .wrapper footer .footer-column .social-logo {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: #c59a77;
      border-radius: 20px;
      text-align: center;
      margin-top: 20px;
      margin-right: 5px; }
      .wrapper footer .footer-column .social-logo i {
        line-height: 40px;
        font-size: 14px;
        color: white; }
  @media screen and (max-width: 1279px) {
    .wrapper header .first-row {
      display: none; } }

/*# sourceMappingURL=style.css.map */
