@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TrajanProRegular";
  src: url("../fonts/TrajanProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;

  header {

    .first-row {
      font-family: "ProximaNovaRegular", serif;
      position: relative;
      color: #ababab;
      margin-top: 15px;

      .left-block {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;

        span:first-of-type {
          font-size: 14px;
          color: black;
          padding-right: 18px;
        }
      }

      .center-block {
        margin: 0 auto;
        text-align: center;
        line-height: 16px;
        font-size: 10px;
        text-transform: uppercase;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0 15px;

            a {
              text-decoration: none;
              color: #ababab;
            }
          }
        }
      }

      .right-block {
        position: absolute;
        top: 0;
        right: 0;

        .sign-in-block,
        .cart-block {
          display: inline-block;
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
        }

        .sign-in-block {
          padding-right: 22px;
          margin-right: 16px;
        }

        .cart-block {
          position: relative;

          img {
            position: absolute;
            right: 12px;
            top: 0;
          }

          span {
            font-size: 12px;
            padding-left: 6px;
            color: black;
          }
        }
      }
    }

    .second-row {
      text-align: center;
      padding: 40px 0 30px 0;
      border-bottom: 1px solid #f2f2f2;
    }

    .third-row {
      text-align: center;
      padding: 20px 0;

      .menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 25px;

          a {
            font-family: "ProximaNovaBold", serif;
            color: black;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }

        .close-menu {
          display: none;
        }
      }

      .menu-burger {
        margin-left: 30px;
        display: none;
        text-align: right;

        span {
          display: block;
          height: 3px;
          width: 20px;
          background-color: #1e1e1e;
          margin-bottom: 3px;
        }
      }
    }
  }

  main {

    .slider-block {
      position: relative;

      .slider {

        .image-block {
          position: relative;

          img {
            width: 100%;
          }
        }

        .slick-prev {
          position: absolute;
          top: 205px;
          left: 65px;
          background-color: white;
          border-radius: 20px;
          background-image: url("../img/arrow-next.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          z-index: 2;
          transform: rotate(180deg);

          &:before {
            content: "";
          }
        }

        .slick-next {
          position: absolute;
          top: 205px;
          right: 65px;
          background-color: white;
          border-radius: 20px;
          background-image: url("../img/arrow-next.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
        }
      }

      .product-image {
        position: absolute;
        left: 280px;
        bottom: 55px;
      }

      .text-block {
        position: absolute;
        top: 110px;
        left: 105px;

        .product-title {
          font-size: 72px;
          font-family: "TrajanProRegular", serif;
          color: #1e1e1e;
        }

        .line {
          display: block;
          width: 43px;
          height: 1px;
          background-color: #1e1e1e;
          margin: 20px 0  34px 0;
        }

        .product-text {

          span {
            display: block;
            font-size: 18px;
            font-family: "ProximaNovaRegular", serif;

            &:first-of-type {
              padding-bottom: 4px;
            }
          }
        }
      }

      .dots {
        position: absolute;
        top: 42px;
        right: 80px;

        span {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 5px;
          border: 2px solid white;
          background-color: #dbdee3;
          margin-bottom: 10px;

          &:last-of-type {
            background-color: white;
            margin-bottom: 0;
          }
        }
      }

      .more-info-btn {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 110px;
        height: 110px;
        border-radius: 55px;
        background-color: white;
        text-align: center;

        span {
          line-height: 110px;
          font-size: 12px;
          color: #c59a77;
          font-family: "ProximaNovaBold", serif;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .divisions-row {
      font-size: 0;

      .popular-brands,
      .hair-care,
      .men-goods {
        font-family: "ProximaNovaBold", serif;
        font-size: 18px;
        display: inline-block;
        min-height: 194px;
        width: 33.33%;
        box-sizing: border-box;
        vertical-align: top;

        .arrow-btn {
          position: absolute;
          left: 40px;
          bottom: 30px;
          width: 40px;
          height: 40px;
          font-size: 12px;
          box-sizing: border-box;
          border-radius: 20px;
          line-height: 40px;
          border: 1px solid #433830;
          color: black;
          background-color: #1f1f1f;
          transition: .3s;
          cursor: pointer;

          i {
            margin-left: 12px;
          }

          &:hover {
            background-color: white;
          }
        }
      }

      .popular-brands {
        position: relative;
        padding: 30px 40px;
        color: #c59a77;

        p {
          margin: 0;
          width: 130px;
          line-height: 24px;
        }

        //.arrow-btn {
        //  position: absolute;
        //  left: 40px;
        //  bottom: 30px;
        //  width: 40px;
        //  height: 40px;
        //  font-size: 12px;
        //  box-sizing: border-box;
        //  border-radius: 20px;
        //  line-height: 40px;
        //  border: 1px solid #433830;
        //  color: black;
        //  background-color: #1f1f1f;
        //
        //  i {
        //    margin-left: 12px;
        //  }
        //}
      }

      .hair-care {
        position: relative;
        padding: 30px 40px;
        color: #1e1e1e;

        p {
          margin: 0;
          width: 130px;
          line-height: 24px;
        }

        //.arrow-btn {
        //  position: absolute;
        //  left: 40px;
        //  bottom: 30px;
        //  width: 40px;
        //  height: 40px;
        //  font-size: 12px;
        //  box-sizing: border-box;
        //  border-radius: 20px;
        //  line-height: 40px;
        //  color: white;
        //  background-color: #1e1e1e;
        //
        //  i {
        //    margin-left: 12px;
        //  }
        //}
      }

      .men-goods {
        position: relative;
        padding: 30px 40px;
        color: white;

        p {
          margin: 0;
          width: 130px;
          line-height: 24px;
        }

        //.arrow-btn {
        //  position: absolute;
        //  left: 40px;
        //  bottom: 30px;
        //  width: 40px;
        //  height: 40px;
        //  font-size: 12px;
        //  box-sizing: border-box;
        //  border-radius: 20px;
        //  line-height: 40px;
        //  color: #b58c6b;
        //  background-color: white;
        //
        //  i {
        //    margin-left: 12px;
        //  }
        //}

        img {
          position: absolute;
          bottom: 20px;
          right: 0;
        }
      }

      @each $name in 'popular' 'hair' 'men' {
        .background-#{$name} {
          background-image: url('../img/#{$name}.jpg');
        }
      }
    }

    .product-list {
      font-size: 0;

      .item {
        display: inline-block;
        width: 33.33%;
        min-height: 300px;
        vertical-align: bottom;
        font-size: 12px;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        padding: 27px 40px;

        .title {
          font-family: "ProximaNovaBold", serif;
          font-size: 18px;
          line-height: 24px;
          text-transform: uppercase;
          max-width: 135px;
          margin-bottom: 18px;
        }

        .description {
          font-family: "ProximaNovaRegular", serif;
          font-size: 12px;
          line-height: 16px;
          color: #7f7f7f;
          max-width: 135px;
        }

        .price {
          position: absolute;
          bottom: 30px;
          left: 40px;
          font-family: "ProximaNovaRegular", serif;
          font-size: 18px;
          line-height: 14px;
          color: #7f7f7f;
          text-transform: uppercase;
        }

        img {
          position: absolute;
          bottom: 70px;
          right: 60px;
          z-index: -1;
        }

        .add-to-cart {
          position: absolute;
          bottom: 30px;
          right: 30px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.75);
          background: url("../img/cart.png") no-repeat center;
        }

        &.with-border {
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
        }

        &.item-2,
        &.item-9 {

          img {
            bottom: 30px;
            right: 105px;
          }
        }

        &.item-3 {

          img {
            bottom: 50px;
            right: 70px;
          }
        }

        &.item-4 {

          img {
            bottom: 45px;
            right: 110px;
          }
        }

        &.item-5 {

          img {
            bottom: 55px;
            right: 0;
          }
        }

        &.item-6 {

          img {
            bottom: 80px;
            right: 55px;
          }
        }

        &.item-7 {

          img {
            bottom: 60px;
            right: 60px;
          }
        }

        &.item-8 {

          img {
            bottom: 50px;
            right: 45px;
          }
        }

        &.item-10 {

          img {
            bottom: 0;
            right: 0;
          }
        }

        &.last-item {
          width: 66.66%;
          background-image: url("../img/last-block-girl.jpg");
          background-size: cover;
          background-position-x: 100%;
          background-color: #f5f8f7;
          border-bottom: none;
          border-left: 1px solid #e5e5e5;

          p {
            max-width: 350px;
          }

          .description {
            font-size: 14px;
            line-height: 18px;
            color: #535151;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: #8e8e8e;
    font-family: "ProximaNovaRegular", serif;
    font-size: 12px;
    padding: 30px 35px;

    .footer-column {

      span {
        display: block;
        font-family: "ProximaNovaBold", serif;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 18px 0;
        }
      }

      p {
        max-width: 150px;
        line-height: 24px;
      }

      img {
        margin: 20px 0;
      }

      .social-logo {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: #c59a77;
        border-radius: 20px;
        text-align: center;
        margin-top: 20px;
        margin-right: 5px;

        i {
          line-height: 40px;
          font-size: 14px;
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 1279px) {

    header {

      .first-row {
        display: none;
      }

      .third-row {

        .menu-burger {
          display: block;
        }

        .menu {
          display: block;
          position: fixed;
          top: 93px;
          left: 0;
          right: 0;
          z-index: 5;
          background-color: white;
          padding: 10px 0;
          height: 100%;
          transform: translateX(-103%);
          transition: transform .5s;

          li {
            display: block;
            padding-bottom: 10px;
          }

          span {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
          }

          &.open-menu {
            transform: none;
          }

          .close-menu {
            display: block;
          }
        }
      }
    }

    main {
      .slider-block {

        .slider {

          button.slick-prev.slick-arrow,
          button.slick-next.slick-arrow {
            display: none !important;
          }
        }

        .product-image {
          bottom: 30px;
          left: 30px;
          width: 150px;
        }

        .text-block {
          top: 50px;
          left: 50px;

          .product-title {
            font-size: 30px;
          }

          .line {
            display: none;
          }

          .product-text {
            display: none;
          }
        }

        .more-info-btn,
        .dots {
          display: none;
        }
      }

      .divisions-row {

        .popular-brands,
        .men-goods {
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-size: cover;
          width: 50%;
        }

        .hair-care {
          display: none;
        }
      }

      .product-list {

        .item {
          width: 50%;
          border: none;
          border-bottom: 1px solid #e5e5e5;

          &.with-border {
            border: none;
            border-bottom: 1px solid #e5e5e5;
          }

          &.last-item {
            width: 100%;
          }

          &:nth-child(2n) {
            border-left: 1px solid #e5e5e5;
          }
        }
      }
    }

    footer {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 700px) {

    main {

      .slider-block {

        .product-image {
          bottom: 18px;
          left: 30px;
          width: 100px;
        }

        .text-block {
          top: 30px;
          left: 30px;

          .product-title {
            font-size: 18px;
          }
        }
      }

      .divisions-row {

        .popular-brands,
        .men-goods {
          width: 100%;
        }
      }

      .product-list {

        .item {
          width: 100%;

          &:nth-child(2n) {
            border-left: none;
          }
        }
      }
    }
  }
}